<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Airlines</title>
</head>

<body>

  <h1>Your Airline</h1>
  <div>
    <form action="/airline" method="post">
      <input type="text" name="airline_name" placeholder="Airline">
      <input type="text" name="airline_description" placeholder="Description">
      <input type="submit" href="/airline">
    </form>
  </div>
</body>

</html>
