<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Airlines</title>
</head>

<body>

  <h1>Add New Airline</h1>
  <hr>
  <div>
    <form action="/airlines" method="post">
      <input type="text" name="airline_name" placeholder="Airline">
      <input type="text" name="airline_description" placeholder="Description">
      <input type="submit">
    </form>
  </div>
</body>

</html>
