<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

    <h3>Create New User</h3>

    <form action="/users" method="post">
      <input type="text" name="user_name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="password" placeholder="Password">
      <input type="submit" href="/trips">
    </form>

  </body>
</html>
