<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Travel Dashboard</title>
</head>

<body>
  <h1>Travel Dashboard</h1>
  <div>
    <form action="/users" method="post">
      <input type="text" name="user_name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="password" placeholder="Password">
      <input type="submit" href="/trips">
    </form>

  </div>

</body>

</html>
